@import "tailwindcss/preflight";
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url("/DMSans-VariableFont.woff2") format("woff2-variations"),
       url("/DMSans-VariableFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.glow {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
}

* {
  color: white;
  font-family: "DM Sans", sans-serif;
}